@{
    ViewBag.Title = "About";
}
<h2>About Kriya</h2>

<div class="row">

    <div class="col-md-4">
        <h2>Bio</h2>
        <p>
            My name is Kriya Naicker.
            I am 20 years old and currently in my second year of studies at the Univeristy of Pretoria doing Bcom Informatics.
            I am from Estcourt which is located in KwaZulu-Natal, I am a very talkative person and have a very energetic personality. I enjoy doing wholesome activites such as spending time with family
            , going on adventures and exploring nature.


        </p>
    </div>
    <div class="col-md-4">
        <h2>Kriya</h2>
        <img src="~/Content/IMG-3131.jpg"  height="400" width="400"/>
    </div>
</div>
